/* Variables */
$color-primary-0: #28546C;	// Main Primary color */
$color-primary-1: #12191D;
$color-primary-2: #213844;
$color-primary-3: #02659A;
$color-primary-4: #1B8FCD;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  text-align: center;
}
#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position:absolute;
  left:50%;
  top:5%;
  width:550px;

  margin-left:-275px; /* -1/2 width */
}
td {
	padding: 12px;
}
h1 {

  color: $color-primary-0;
}
#profile {
  border-radius: 50%;
}
// .img-responsive {
//   display: block;
//   height: auto;
//   max-width: 100%;
// }
.content {
  position: relative;
  top: 0;
}
.img-responsive {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.social {
  position: relative;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.heading {
  color: $color-primary-0;
  font-weight: bold;;
  background: rgb(0,0,0); /* for IE */
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
}

.textOnPage {
  color: white;
  font-size: 1.5em;
  background: rgb(0,0,0); /* for IE */
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
}
.headingSmall {
  color: black;
}

.projectDesc {
  color: white;
  font-size: 1.5em;
  font-weight:bolder;
  background: rgb(0,0,0); /* for IE */
  background: rgba(0,0,0,0.5);
}

#search {
  padding: 20px;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}
