/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  text-align: center;
}
#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position:absolute;
  left:50%;
  top:5%;
  width:550px;

  margin-left:-275px; /* -1/2 width */
}
td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}
